@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #111827;
  transition: background-color 9999s ease-in-out 0s;
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #374151 inset;
  -webkit-text-fill-color: white;
}

/* style toast */
.app-toast {
  --border-radius: 14px;
  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  --background: rgba(30, 30, 30, 0.9);
  --color: #fff;
  /* backdrop-filter: blur(10px); */
  font-weight: 500;
  letter-spacing: 0.3px;
}

.app-toast::part(message) {
  font-size: 14px;
}

.app-toast::part(button) {
  color: #fff;
}

ion-content {
  --padding-top: env(safe-area-inset-top);
}

/* slide animation */
.slide-enter-active,
.slide-leave-active {
  transition: all 0.25s ease;
}

.slide-enter-from {
  transform: translateX(100%);
}

.slide-leave-to {
  transform: translateX(100%);
}

/* Change mode for ion modal */
.dark ion-content {
  --background: #1e293b;
}

.dark ion-toolbar {
  --background: #1e293b;
  --color: white;
}

/* Tùy chỉnh thanh cuộn cho toàn bộ trang */
::-webkit-scrollbar {
  width: 4px;
  /* Chiều rộng của thanh cuộn dọc */
  height: 6px;
  /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Màu nền của thanh cuộn */
  border-radius: 5px;
  /* Góc bo cho track */
}

::-webkit-scrollbar-thumb {
  background: rgb(128, 180, 248);
  /* Màu của thanh cuộn */
  border-radius: 5px;
  /* Góc bo cho thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 180, 248, 0.5);
  /* Màu thanh cuộn khi hover */
}

::-webkit-scrollbar-thumb:horizontal {
  height: 4px;
  /* Chiều cao cho thanh cuộn ngang */
}